*{
    font-family: Jost, sans-serif;
    max-width: 1280px;
    margin: auto;
}
header{
    display: block;
    height: 52px;
    background-color:#D9D9D9;
}
.logo{
    margin: 2px 5px 0px 5px;
}

.theme{
    margin: 0px;
}

.lang{
    margin: 0;
}

ul 
{
    list-style-type: none;
    margin: 0;
    
}

a{
    text-decoration: none;
    font-size: 20px;
}

a:hover{
    text-decoration: underline;
}

.navbar-list
{
    display: flex;
    justify-content: space-around;
    width: 85%;
    align-items: center;
}
.navbar
{
    display: flex;   
}

button{
    border: 0;
    background-color: rgba(1, 1, 1, 0%);
}
button:hover{
    background-color: rgba(0, 0, 0, 10%);
    border: rgba(0, 0, 0, 10%);
    border-radius: 10px;
}

button:active{
    background-color: rgba(0, 0, 0, 20%);
    border: rgba(0, 0, 0, 20%);
    border-radius: 10px;
}

section {
    display: block;
}

.aboutUs {
    align-items: center;
    background-color: rgb(188, 188, 188);
}

.name {
    text-align: left;
    font-size: 40px;
    padding: 10px 50px 15px;
}

.about {
    text-align: left;
    font-size: 24px;
    padding: 0px 50px 20px;
}
.serv{
    align-items: center;
    background-color: #D9D9D9;
}

.serv-name{
    text-align: center;
    font-size: 40px;
    padding: 10px 50px 15px;
}

.first-line{
    display: flex;
    flex-wrap: wrap;
}
.second-line{
    display: flex;
    flex-wrap: wrap;
}